
.main{
    width: 400px;
    height: 400px;
    border-radius: 20px;

}
.image{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
    

}
.btm{
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
    

}
.btms{
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;
    
}
button{
    padding: 10px ;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
}
p{
    color:#828282;
    ;
}